<footer id="footer" class="clearfix">
  <div id="footer-content">
    <nav id="footer-nav" class="clearfix">
      <div class="columns">
        
        <ul class="column">
          <li>
            <strong><a class="main" href="#">Sencha Products</a></strong>
            <ul class="zero">
              <li class="first"><%= link_to 'Touch Charts', 'http://www.sencha.com/products/touch/charts/', :rel => "nofollow" %></li>
              <li><%= link_to 'Ext JS 4', 'http://www.sencha.com/products/extjs/', :rel => "nofollow" %></li>
              <li><%= link_to 'Ext GWT', 'http://www.sencha.com/products/extgwt/', :rel => "nofollow" %></li>
              <li><%= link_to 'Ext Designer', 'http://www.sencha.com/products/designer/', :rel => "nofollow" %></li>
              <li><%= link_to 'Ext Core', 'http://www.sencha.com/products/extcore/', :rel => "nofollow" %></li>
              <li><%= link_to 'Sencha Touch', 'http://www.sencha.com/products/touch/', :rel => "nofollow" %></li>
              <li><%= link_to 'Sencha Animator', 'http://www.sencha.com/products/animator/', :rel => "nofollow" %></li>
              <li><%= link_to 'Sencha.io', 'http://sencha.com/products/io', :rel => "nofollow" %></li>
            </ul>
          </li>
        </ul>
        
        <ul class="column">
          <li>
            <strong><a class="main" href="http://market.sencha.com">Sencha Market</a></strong>
            <ul class="zero">
              <li class="first">
                <%= link_to 'Plugins',
                      'http://market.sencha.com/addons?types[]=plugins',
                      :rel => "nofollow" %>
              </li>
              <li>
                <%= link_to 'Templates',
                      'http://market.sencha.com/addons?types[]=templates',
                      :rel => "nofollow" %>
              </li>
              <li>
                <%= link_to 'Themes',
                      'http://market.sencha.com/addons?types[]=themes',
                      :rel => "nofollow" %>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="column">
          <li>
            <strong><a class="main" href="http://www.senchadevs.com">Sencha Devs</a></strong>
            <ul class="zero">
              <li class="first"><%= link_to 'Full listing', 'http://www.senchadevs.com/developers' %></li>
              <li><%= link_to 'Geographic listing', 'http://www.senchadevs.com/developers/by_location' %></li>
              <li class="last"><%= link_to 'Terms of use', 'http://www.senchadevs.com/pages/terms', :rel => "nofollow" %></li>
            </ul>
          </li>
        </ul>
        
        <ul class="column social last">
          <li><a class="facebook" href="http://www.facebook.com/senchainc">Facebook</a></li>
          <li><a class="linkedin" href="http://j.mp/sencha-in">LinkedIn</a></li>
          <li><a class="twitter" href="http://twitter.com/sencha">Twitter</a></li>
          <li><a class="tumblr" href="http://senchainc.tumblr.com/">Tumblr</a></li>
          <li><a class="vimeo" href="http://vimeo.com/sencha">Vimeo</a></li>
        </ul>

      </div> <%# columns %>
    </nav> <%# footer-nav %>
    <hr />
    
    <div id="copyright">
      <a href="#"><i class="icon-comments-alt for-support-icon"></i>Support</a>
      <p>&copy; 2012 Sencha Inc. All rights reserved.</p>
    </div>
  </div> <%# #footer-content %>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>